@use 'variables' as var;
@use 'mixins' as mixin;

footer {
    background-color: var.$Black;
    font-family: 'Alata', sans-serif;
    padding-block: 5rem;
    padding-inline: 2rem;
    @media (min-width: 62rem) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-inline: min(8vw, 9rem);
        padding-block: 4rem;
    }
    .footer__nav-container {
        display: grid;
        justify-content: center;
        @media (min-width: 62rem) {
            justify-content: start;
            grid-template-columns: 1fr;
        }
    }
    .footer__info-container {
        .footer__info {
            .footer__contacts-container {
                display: grid;
                justify-content: center;
                @media (min-width: 62rem) {
                    justify-content: end;
                }
            }
        }
    }
}

.footer__navbar {
    list-style-type: none;
    .footer__logo-container {
        .footer__nav-logo {
            width: 12.5rem;
            margin-block-end: 1.5rem;
        }
    }
}

.footer__navbar {
    .footer__navlink-container {
        .footer__nav-links {
            @media (min-width: 62rem) {
                display: grid;
                grid-template-columns: repeat(5, 5.5rem);
            }
            .footer__nav-link {
                font-size: 1rem;
                list-style-type: none;
                text-align: center;
                line-height: 2.5;
                @media (min-width: 62rem) {
                    text-align: start;
                }
                a {
                    text-decoration: none;
                    color: var.$White;
                    &:active {
                        color: var.$Dark-Gray;
                        -webkit-tap-highlight-color: transparent;
                    }
                   @include mixin.nav_bottom-border();
                }
            }
        }
    }
}

.footer__info-container {
    .footer__socials {
        display: grid;
        grid-template-columns: repeat(4, 2.6875rem);
        margin-block: 3rem 1.5rem;
        @media (min-width: 62rem) {
            margin-block-start: 0;
        }
        .footer__social-media {
            @media (min-width: 62rem) {
                text-align: end;
            }
            a {
                &::after {
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 0.125rem;
                    background-color: var.$White;
                    top:120%;
                    left: 0%;
                    transition: all 0.3s linear;
                }
              
                @media (min-width: 62rem) {
                    color: var.$White;
                    text-transform: capitalize;
                    position: relative;
                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.footer__info-container {
    .footer__copyrights {
        color: var.$Dark-Gray;
        list-style-type: none;
        font-size: 1rem;
        text-align: center;
        @media (min-width: 62rem) {
            text-align: end;
        }
    }
}
