@use 'variables' as var;
@use 'mixins' as mixin;

.header {
    min-height: 100vh;
    position: relative;
    font-family: 'Alata', sans-serif;
    letter-spacing: 2px;
    font-size: 1.3rem;
    overflow: hidden;
    @media (max-width: 992px) {
        display: grid;
        justify-content: center;
    }
    background: url('/src/assets/images/mobile/image-hero.jpg') top left/ cover no-repeat;
    @media (min-width: 992px) {
        background: url('/src/assets/images/desktop/image-hero.jpg') center/ cover no-repeat;
    }
}

.header__navbar-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50vw 50vw;

    @media (min-width: 992px) {
        grid-template-columns: 30vw 50vw;
    }

    .header__logo-container {
        display: grid;
        align-items: center;
        cursor: pointer;
    }
}

.header__menu {
    padding-inline: 5vw;
    text-align: end;
    justify-content: end;
    display: grid;

    @media (min-width: 992px) {
        display: none;
        color: var.$White;
    }

   
    .header__toggle {
        position: relative;
        width: 59px;
        height: 47px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        -webkit-tap-highlight-color: transparent;
        @media (min-width: 992px) {
            display: none;
        }


        span {
            position: absolute;
            width: 35px;
            height: 4px;
            background: var.$White;
            border-radius: 4px;
            transition: all .5s;
            position: absolute;
        }

        span:nth-child(1) {
            width: 19px;
            left: 12px;
            transform: translateY(-12px);
        }
        
        span:nth-child(2) {
            width: 11px;
            left: 12px;
            transform: translateY(12px);
        }
    }

    .header__toggle--active {
        span:nth-child(1) {
            width: 40px;
            transform: translateY(0px) rotate(45deg);
            transition-delay: .125s;
        }
        span:nth-child(2) {
            transform: translateY(0px) rotate(315deg);
            width: 40px;
            transition-delay: .25s;
        }
        span:nth-child(3) {
            transform: translateX(60px);
        }
    }
}

.header__navbar {
    padding-block: 2.5rem;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    @media (min-width: 992px) {
        padding-block: 3rem;
        padding-inline: 10vw;
    }

    .header__logo {
        margin-inline: 5vw;
        width: min(70%, 150px);
        @media (min-width: 992px) {
            margin-inline: 0;
        }
    }

    ul {
        list-style-type: none;

        .header__nav-link-container {
            position: absolute;
            z-index: -1;
            padding-block-start: 30vh;
            background-color: var.$Black;
            width: 100vw;
            height: 100vh;
            top: -100vh;
            transition: 1s;
            padding-inline: 5vw;
            @media (min-width: 992px) {
                all: unset;
                display: grid;
                grid-template-columns:repeat(5, 80px);
                justify-content: end;
                font-size: .7rem;
            }

            .header__nav-items {
                @media (min-width: 992px) {
                    text-align: center;
                }
            }

        }

        .header__nav-link-container--active {
            top: 0vh;
        }

        a{
            text-decoration: none;
            color: var.$Dark-Gray;
            text-transform: uppercase;
            line-height: 2.5;
            cursor: pointer;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 0%;
                height: 2px;
                background-color: var.$White;
                top:150%;
                left: 25%;
                transition: all 0.3s linear;
            }
          
            @media (min-width: 992px) {
                color: var.$White;
                text-transform: capitalize;
                position: relative;
                &:hover::after {
                    width: 50%;
                }
            }
            &:active {
                color: var.$White;
                -webkit-tap-highlight-color: transparent;
            }
        }
    }
   
}


.header__title-container {
    width: min(87vw, 456px);
    height: 13rem;
    border: 3px solid var.$White;
    top: 40vh;
    position: relative;
    padding-inline:  4vw 6vw;
    display: flex;
    align-items: center;
    @media (min-width: 992px) {
        top: clamp(16vh, 17vw, 28vh);
        margin-inline-start: 10vw;
        width: 46vw;
        padding-inline:  4vw;
        height: fit-content;
    }
    h1 {
        letter-spacing: 5px;
        color: var.$White;
        @include mixin.heading();
        font-size: clamp(1.3rem, 8vw, 2.5rem);
        @media (max-width:300px) {
            font-size: clamp(1.2rem, 0.2rem + 0.008vw, 1.8rem);
        }
        @media (min-width: 992px) {
            font-size: clamp(2rem, 4vw, 6rem);
            font-weight: 500;
            padding-block: 1vw;
        }
    }
}